.u-section-1 .u-sheet-1 {
  min-height: 701px;
}

.u-section-1 .u-group-elements-1 {
  width: 441px;
  min-height: 170px;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 25px auto 0 68px;
}

.u-section-1 .u-image-1 {
  width: 172px;
  height: 167px;
  --radius: 10000px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -167px 0 0 auto;
}

.u-section-1 .u-group-elements-2 {
  width: 246px;
  min-height: 26px;
  height: auto;
  margin: 7px -8px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 0 0 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 23px;
  height: 23px;
  margin: -25px 223px 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 8px 0 0 204px;
}

.u-section-1 .u-group-elements-3 {
  width: 481px;
  min-height: 172px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 25px auto 0 61px;
}

.u-section-1 .u-image-2 {
  width: 172px;
  height: 172px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -172px 0 0 auto;
}

.u-section-1 .u-group-elements-4 {
  width: 147px;
  min-height: 23px;
  height: auto;
  margin: 7px 123px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 23px;
  height: 23px;
  margin: 0 124px 0 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -23px auto 0 30px;
}

.u-section-1 .u-text-6 {
  margin: 7px 32px 0 211px;
}

.u-section-1 .u-group-1 {
  width: 463px;
  height: auto;
  background-image: linear-gradient(#f2f2f2, #b3b3b3);
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  min-height: 255px;
  margin: -330px 68px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 383px 0 16px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: -51px auto 0 105px;
}

.u-section-1 .u-text-8 {
  line-height: 1.95;
  margin: 38px 31px 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-elements-2 {
    width: 221px;
    min-height: 24px;
    margin-top: 5px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 1px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -24px;
    margin-right: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -25px;
  }

  .u-section-1 .u-group-1 {
    width: 363px;
    min-height: 418px;
    margin-top: -379px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-top: 0;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-3 {
    margin-left: 59px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -16px;
    margin-right: 359px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}