 .u-section-1 {
  min-height: 1612px;
}

.u-section-1 .u-image-1 {
  height: 397px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 669px;
  min-height: 264px;
  height: auto;
  margin: -5px calc(((100% - 1320px) / 2)  + 90px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Tahoma;
  font-size: 3rem;
  font-weight: 700;
  margin: -496px calc(((100% - 1320px) / 2)  + 696px) 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-shape-1 {
  width: 453px;
  height: 235px;
  margin: 184px auto 0 calc(((100% - 1320px) / 2)  + 74px);
}

.u-section-1 .u-image-2 {
  width: 145px;
  height: 145px;
  --radius: 100000px;
  margin: -300px auto 0 calc(((100% - 1320px) / 2)  + 444px);
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 calc(((100% - 1320px) / 2)  + 95px);
}

.u-section-1 .u-text-2 {
  font-family: Tahoma;
  margin: 0 calc(((100% - 1320px) / 2)  + 859px) 0 calc(((100% - 1320px) / 2)  + 95px);
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-family: Arial, sans-serif;
  margin: 24px calc(((100% - 1320px) / 2)  + 770px) 0 calc(((100% - 1320px) / 2)  + 184px);
}

.u-section-1 .u-group-1 {
  width: 549px;
  height: auto;
  box-shadow: 0px -2px 10px 0px rgba(128,128,128,1);
  min-height: 331px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(white, #d9d9d9);
  margin: 56px calc(((100% - 1320px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 17px 24px;
}

.u-section-1 .u-image-3 {
  width: 99px;
  height: 99px;
  margin: 12px auto 0 54px;
}

.u-section-1 .u-shape-2 {
  width: 194px;
  height: 156px;
  margin: -96px 135px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 99px;
  height: 28px;
  margin: -40px 356px 0 54px;
}

.u-section-1 .u-shape-4 {
  width: 99px;
  height: 28px;
  margin: 20px auto 0 54px;
}

.u-section-1 .u-shape-5 {
  width: 99px;
  height: 28px;
  margin: 20px auto 0 54px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: Tahoma;
  margin: -331px calc(((100% - 1320px) / 2)  + 547px) 0 calc(((100% - 1320px) / 2)  + 39px);
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Tahoma;
  margin: 17px calc(((100% - 1320px) / 2)  + 593px) 0 calc(((100% - 1320px) / 2)  + 43px);
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  margin: 24px auto 0 calc(((100% - 1320px) / 2)  + 39px);
  padding: 10px 161px 10px 160px;
}

.u-section-1 .u-group-2 {
  width: 599px;
  height: auto;
  box-shadow: 0px -2px 10px 0px rgba(128,128,128,1);
  min-height: 361px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(white, #e5e5e5);
  margin: 155px auto 0 calc(((100% - 1320px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 537px;
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: Tahoma;
  margin: -359px 0 0 calc(((100% - 1320px) / 2)  + 630px);
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Tahoma;
  margin: 23px calc(((100% - 1320px) / 2)  + 77px) 0 calc(((100% - 1320px) / 2)  + 630px);
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  margin: 29px calc(((100% - 1320px) / 2)  + 302px) 0 auto;
  padding: 10px 161px 10px 160px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 190px 0 0;
}

.u-section-1 .u-text-9 {
  font-family: Tahoma;
  margin: 22px 0 46px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    margin-top: 164px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 18px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -335px;
    margin-right: calc(((100% - 1140px) / 2)  + 825px);
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2)  + 37px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2)  + 332px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: -216px;
    margin-left: calc(((100% - 1140px) / 2)  + 95px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 68px;
    margin-left: calc(((100% - 1140px) / 2));
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: -74px;
    margin-right: calc(((100% - 1140px) / 2) + 680px);
    margin-left: calc(((100% - 1140px) / 2)  + 485px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 252px;
    margin-right: calc(((100% - 1140px) / 2)  + -13px);
    height: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2)  + 609px);
    margin-left: calc(((100% - 1140px) / 2)  + 42px);
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2)  + 609px);
    margin-left: calc(((100% - 1140px) / 2)  + 42px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2)  + 42px);
    padding-left: 218px;
    padding-right: 218px;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 1140px) / 2)  + 23px);
    height: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2)  + -12px);
    margin-left: calc(((100% - 1140px) / 2)  + 598px);
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2)  + 71px);
    margin-left: calc(((100% - 1140px) / 2)  + 600px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2)  + 152px);
  }

  .u-section-1 .u-text-9 {
    margin-bottom: -37px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 155px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 27px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -345px;
    margin-right: calc(((100% - 940px) / 2)  + 625px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2)  + 37px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2)  + 332px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2)  + 95px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 574px);
    margin-left: calc(((100% - 940px) / 2)  + 285px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 233px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2)  + 108px);
    margin-left: calc(((100% - 940px) / 2)  + 199px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2)  + 114px);
    margin-left: calc(((100% - 940px) / 2)  + 199px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    padding-right: 237px;
    padding-left: 235px;
  }

  .u-section-1 .u-group-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: 543px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2)  + 129px);
    margin-left: calc(((100% - 940px) / 2)  + 198px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    padding: 9px 239px 11px 237px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -1997px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -1737px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: -154px;
    margin-right: calc(((100% - 720px) / 2)  + 405px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-top: -1678px;
    margin-left: calc(((100% - 720px) / 2)  + 37px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -1743px;
    margin-left: calc(((100% - 720px) / 2)  + 332px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: -1659px;
    margin-left: calc(((100% - 720px) / 2)  + 95px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -1527px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: -1592px;
    margin-right: calc(((100% - 720px) / 2) + 354px);
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 737px;
    margin-right: calc(((100% - 720px) / 2)  + -79px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2)  + 4px);
    margin-left: calc(((100% - 720px) / 2)  + 89px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2)  + -92px);
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 88px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -994px;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -2004px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 540px;
    margin-top: -1865px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -26px;
    margin-right: calc(((100% - 540px) / 2)  + 225px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2)  + 240px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2)  + 95px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 174px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2)  + -79px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2)  + -92px);
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    margin-top: -989px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: -1978px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2)  + 25px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2)  + 40px);
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2)  + 95px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-2 {
    margin-top: 20px;
    margin-right: 126px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 20px;
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 170px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
    padding-right: 137px;
    padding-left: 136px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -1014px;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tahoma.ttf);
}