 .u-section-1 {
  min-height: 2069px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 383px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-size: 3rem;
  font-weight: 600;
  margin: 115px 0 0 124px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 64px calc(((100% - 1140px) / 2)  + 642px) 0 calc(((100% - 1140px) / 2)  + -84px);
}

.u-section-1 .u-group-elements-2 {
  width: 669px;
  min-height: 264px;
  height: auto;
  margin: -180px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-elements-3 {
  width: 529px;
  min-height: 131px;
  animation-timing-function: ease-in;
  height: auto;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 131px;
  height: 131px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 131px;
  height: 131px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -131px auto 0 187px;
}

.u-section-1 .u-image-4 {
  width: 131px;
  height: 131px;
  margin: -131px 0 0 auto;
}

.u-section-1 .u-line-1 {
  margin-top: -14px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-1 .u-group-1 {
  width: 547px;
  height: auto;
  box-shadow: 0px -2px 10px 0px rgba(128,128,128,1);
  min-height: 330px;
  background-image: linear-gradient(white, #e5e5e5);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px auto 0 calc(((100% - 1140px) / 2)  + -84px);
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 17px;
}

.u-section-1 .u-image-5 {
  width: 416px;
  height: 257px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px auto 0 39px;
}

.u-section-1 .u-image-6 {
  width: 131px;
  height: 131px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -208px auto 0 92px;
}

.u-section-1 .u-shape-1 {
  width: 80px;
  height: 50px;
  margin: -148px auto 0 232px;
}

.u-section-1 .u-shape-2 {
  width: 80px;
  height: 50px;
  margin: 13px auto 0 232px;
}

.u-section-1 .u-shape-3 {
  width: 80px;
  height: 50px;
  margin: 13px auto 0 232px;
}

.u-section-1 .u-image-7 {
  width: 35px;
  height: 35px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -171px 147px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 41px;
  height: 41px;
  margin: 22px 147px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 49px;
  height: 49px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 24px 140px 0 auto;
}

.u-section-1 .u-line-2 {
  width: 407px;
  height: 0;
  margin: 30px 140px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -312px calc(((100% - 1140px) / 2)  + -78px) 0 calc(((100% - 1140px) / 2)  + 484px);
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px calc(((100% - 1140px) / 2)  + -78px) 0 calc(((100% - 1140px) / 2)  + 484px);
}

.u-section-1 .u-group-2 {
  width: 547px;
  height: auto;
  box-shadow: 0px -2px 10px 0px rgba(128,128,128,1);
  min-height: 330px;
  background-image: linear-gradient(white, #d9d9d9);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px calc(((100% - 1140px) / 2)  + -79px) 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 17px 24px;
}

.u-section-1 .u-image-10 {
  width: 99px;
  height: 99px;
  margin: 12px auto 0 54px;
}

.u-section-1 .u-shape-4 {
  width: 194px;
  height: 156px;
  margin: -96px 135px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 99px;
  height: 28px;
  margin: -40px 356px 0 54px;
}

.u-section-1 .u-shape-6 {
  width: 99px;
  height: 28px;
  margin: 20px auto 0 54px;
}

.u-section-1 .u-shape-7 {
  width: 99px;
  height: 28px;
  margin: 20px auto 0 54px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -286px calc(((100% - 1140px) / 2)  + 489px) 0 calc(((100% - 1140px) / 2)  + -83px);
}

.u-section-1 .u-text-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px calc(((100% - 1140px) / 2)  + 489px) 0 calc(((100% - 1140px) / 2)  + -77px);
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2)  + -84px);
  padding: 10px 161px 10px 160px;
}

.u-section-1 .u-group-3 {
  width: 547px;
  height: auto;
  box-shadow: 0px -2px 10px 0px rgba(128,128,128,1);
  min-height: 330px;
  background-image: linear-gradient(white, #e5e5e5);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 153px auto 0 calc(((100% - 1140px) / 2)  + -92px);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  width: 537px;
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -269px calc(((100% - 1140px) / 2)  + -75px) 0 calc(((100% - 1140px) / 2)  + 475px);
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px calc(((100% - 1140px) / 2)  + 43px) 0 calc(((100% - 1140px) / 2)  + 484px);
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  margin: 17px calc(((100% - 1140px) / 2)  + 268px) 0 auto;
  padding: 10px 161px 10px 160px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 146px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1986px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2)  + 542px);
    margin-left: calc(((100% - 940px) / 2)  + -84px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2)  + -84px);
    height: auto;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-rotate: 180deg;
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -78px);
    margin-left: calc(((100% - 940px) / 2)  + 384px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + -78px);
    margin-left: calc(((100% - 940px) / 2) + 384px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2) + -79px);
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + 389px);
    margin-left: calc(((100% - 940px) / 2)  + -83px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 389px);
    margin-left: calc(((100% - 940px) / 2) + -77px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 940px) / 2) + -92px);
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + -75px);
    margin-left: calc(((100% - 940px) / 2)  + 375px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 327px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2) + 68px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2)  + 432px);
    margin-left: calc(((100% - 720px) / 2)  + -84px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2)  + -84px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + -78px);
    margin-left: calc(((100% - 720px) / 2) + 274px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2)  + -79px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 279px);
    margin-left: calc(((100% - 720px) / 2) + -77px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2)  + -92px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 107px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1865px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2)  + 342px);
    margin-left: calc(((100% - 540px) / 2)  + -84px);
  }

  .u-section-1 .u-group-elements-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2)  + -84px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + -78px);
    margin-left: calc(((100% - 540px) / 2) + 184px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2)  + -79px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 189px);
    margin-left: calc(((100% - 540px) / 2) + -77px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2)  + -92px);
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2)  + 242px);
    margin-left: calc(((100% - 340px) / 2)  + -84px);
  }

  .u-section-1 .u-group-elements-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 198px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -149px;
  }

  .u-section-1 .u-line-2 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-4 {
    margin-top: 20px;
    margin-right: 126px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 20px;
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 170px;
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    padding-right: 137px;
    padding-left: 136px;
    margin-right: calc(((100% - 340px) / 2));
  }
}